.legend_form {
  font-size: 1.2rem;
}

table {
  margin: 0 auto 0 auto;
  padding-right: 4.5rem;
}

td {
  vertical-align: middle;
  text-align: center;
  margin-right: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.tabTitre {
  width: 15rem;
}

.mat-list-base {
  padding-top: 0;
}

/*.example-container {
  display: flex;
  flex-direction: column;
}*/


