@import './UI/breakpoints';
@import './UI/theme';
@import './UI/navigation';

.mat-form-field-appearance-outline .mat-form-field-flex {
  height: 40px;
  align-items: center;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  font-size: 13px;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
