.text-color {
  color: #3f51b5;
}

mat-accordion{
  margin-top: 20px;
}

mat-card-actions {
  text-align: center;
}

.mat-table {
  margin: auto;
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
  text-decoration: underline;
  font-size: 17px;
  padding: 1rem 0 1rem 0;
}

.monPaginator {
  justify-content: center;
  padding-top: 1rem;
}

table.mat-table {
  border-spacing: 1px;
}

td.mat-cell, th.mat-header-cell {
  border-bottom-style: inherit;
}

td.mat-cell:last-of-type {
  padding-right: 0px;
}

td.mat-cell:first-of-type {
  padding-left: 0px;
}

.mat-expansion-panel-header-description {
  flex-grow: 1.42;
}

.mat-fab {
  width: 70px;
  height: 70px;
  margin-left: 1rem;
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}
